<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/PHPUnit/bootstrap.php">
  <testsuites>
    <testsuite name="WURFLTestsSuite">
      <directory>tests/PHPUnit/WURFL/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">WURFL/</directory>
    </whitelist>
  </filter>
</phpunit>
